/* General Styles */
html,
body {
  background-color: #14532d;
  color: #ffc61d;
  font-size: 62.5%;
}

/* Headings */
h2 {
  font-size: calc(1.6rem + 0.5vw);
  text-align: center;
  text-transform: uppercase;
}

/* Action Buttons */
.btn {
  background-color: #14532d;
  border-radius: 0.5rem;
  border: 2px solid #ffc61d;
  color: #ffc61d;
  cursor: pointer;
  font-size: calc(1.2rem + 0.5vw);
  padding: 1rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #ffc61d;
  border: 2px solid #14532d;
  color: #14532d;
}

/* Cards */
.card {
  width: 60px;
}

@media (min-width: 768px) {
  /* Responsive Cards */
  .card {
    width: 100px;
  }
}
